<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
</head>
<body>
    <form action="signup" method="post">
    <p>id <input type="text" name="id" /></p>
    <p>name<input type="text" name="name" /></p>
    <p>password<input type="password" name="password" /></p>
    <p>repository url<input type="text" name="repourl" /></p>
    <input type="submit" value="Submit" />
</form>
</body>
</html>